@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>
        <img style="text-align:right" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNio2GoFb4rIhJ3X5ATCb1MRMiH5Y5IJaXdQ&usqp=CAU" ale="logo" />
        Mini LinkedIn
    </h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Mini_linkedIn</h2>
        <p>
            Mini-LinkedIn is a platform for all collages and universities students to connect with each other and share there resume/profile to all recruiter
            that beneficial for getting job quickly and finding recruiter more easily.
        </p>
    </div>
    <div class="col-md-4">
    </div>

    <div class="col-md-4">
        <p></p><img src="https://exclusive-executive-resumes.com/wp-content/uploads/2020/02/linkedin_1549994884.png" alt="linkedIn Image"width="350px" height="350px"/></p>
    </div>

    @*<div class="col-md-4">
            <h2>Build it from scratch</h2>
            <p>You can build the application by following the steps in a series of tutorials.</p>
            <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Download it</h2>
            <p>You can download the completed project from GitHub.</p>
            <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-mvc/intro/samples/5cu-final">See project source code &raquo;</a></p>
        </div>*@
</div>